

.please-register{
  padding: 50px;
  font-size: 30px;
  color:#4A4E69;
}

.register-div {
  display: flex;
  justify-content: center;
  align-items: center;


  margin: auto;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 10px;
}

.register-form_input {
  padding: 10px;
  margin: 10px;
  /* border-top: none; */
  border: none;
  border-bottom: solid 1px;
  /* background-color: rgb(220, 230, 246); */
  outline: none;
 
}

::placeholder {
  font-size: 30px;
}

 .form-button  {
   color:#4A4E69 ;
   font-weight: 900;
  width: 200px !important;
  margin-left: 10px !important;
  height: 50px !important;
  background: #60AFFF ;
  font-size: 20px !important;
  cursor: pointer;
  border: none;
  transition: transform .3s, filter 2s ease-out;
}

.form-button:hover {
  background: #F87575;
  transform: scale(1.1)
}

